.article_wrapper {
  width: 100%;
  height: 100%;
  background-color: black;
  color: antiquewhite;
  overflow: hidden;
}

.content_wrapper {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  padding: 6rem 3rem;
  display: flex;
  background-color: rgba(250, 235, 215, 0.1);
}
.right {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.right > h1 {
  font-size: 5rem;
  font-weight: bolder;
}

.right > .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
  text-align: right;
}

.amp {
  font-size: x-large;
  font-weight: lighter;
  color: rgba(250, 235, 215, 0.5);
  margin: 8px 0;
}
.amp + p {
  font-size: larger;
  font-weight: bolder;
}

.right > span {
  padding: 2rem;
  background-color: rgba(250, 235, 215, 0.1);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: aliceblue;
  font-size: x-large;
}
