.nav {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 1rem 3rem;

  a:not(:last-child) {
    margin-bottom: 20px;
  }

  .nav__logo a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .nav__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: 500;

    li a{
      color: white;
      text-decoration: none;
      padding: 8px 12px;
    }

    li a:hover {
      background-color: rgb(84, 84, 84);
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

    .nav__menu{
      flex-direction: column;
      align-items: center;
      width: 100%;

      li {
        width: 100%;
        text-align: center;
        padding: 8px 12px;
      }
    }
  }
}